<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Add AppId and RedirectUri for public Azure AD application for auth as user -->
    <add key="public-application-id" value="0000000000000000000000000000000" />
    <add key="redirect-uri" value="https://localhost:44300" />


    <!-- Add TenantName, AppId and AppSecret for confidential Azure AD application for auth as service principal -->
    <add key="tenant-name" value="000000000000000000000000" />
    <add key="confidential-application-id" value="0000000000000000000000000000000" />
    <add key="confidential-application-secret" value="000000000000000000000000000000000" />

    <!-- Add client-id and redirect-uri url for this application here -->
    <add key="export-folder-path" value=".\ExportReportToFile\Exports" />


  </appSettings>
</configuration>